.button {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: var(--font-open-sans);
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    border: none;
}

.primary:hover:not(:disabled) {
    background-color: var(--color-primary-hover);
}

.primary.disabled {
    background-color: var(--color-disable-primary);
    color: var(--color-text-primary);
}

.disabled {
    cursor: default;
}

.loading {
    cursor: default;
}

.primary.loading {
    background-color: var(--color-load-primary);
    color: var(--color-text-primary);
}

.secondary {
    background-color: transparent;
    color: var(--color-secondary);
    border: 1.5px solid var(--color-secondary);
}

.secondary:hover:not(:disabled) {
    background-color: var(--color-hover-secondary);
    color: var(--color-hover-border-secondary);
}

.secondary.disabled {
    background-color: transparent;
    color: var(--color-dis-border-secondary);
    border: 1.5px solid var(--color-dis-border-secondary);
    cursor: default;
}

.secondary.loading {
    background-color: var(--color-load-secondary);
    color: var(--color-load-border-secondary);
    border: 1.5px solid var(--color-load-border-secondary);
    cursor: default;
}


@media (max-width: 768px) {
    .button {
        padding: 11px 18px;
        font-size: 19px;
        line-height: 26px;
        letter-spacing: -0.8px;
    }
}

@media (max-width: 480px) {
    .button {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.6px;
        padding: 10px 16px;
    }
}

