@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --font-secondary: 'Nunito', sans-serif;
    --font-primary: 'DM Sans', sans-serif;
    --font-third: 'Fraunces', sans-serif;


    --color-bg-page: #f0ede6;
    
    --color-text-primary: #FFFFFF;

    --color-primary: #1b4332;
    --color-primary-hover: #143728;
    --color-disable-primary: #E0DBD0;
    --color-load-primary: #8A9C94;

    --color-secondary: #2D6A4F;
    --color-hover-secondary: rgba(231, 252, 232, 0.215);
    --color-hover-border-secondary: #365f4d;
    --color-dis-border-secondary: #B5B0A6;
    --color-load-secondary: rgba(236, 249, 237, 0.272);
    --color-load-border-secondary: #8EA199;


    --color-error: #D32F2F;
    --color-main: #1a1a1a;
    --color-border: #e0dbd0;
    --color-placeholder: #b5b0a6;
    --color-input-bg: #FFFFFF;
    --color-border-hover: #1B4332;

    --color-text-footer: #7A756A;

}

body {
    background-color: var(--color-bg-page);
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}