.page {
    width: 100%;
}

.pageInner {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 40px 80px;
    box-sizing: border-box;
}

.pageHeader {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.titleRow {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.pageTitle {
    margin: 0;

    font-family: var(--font-open-sans);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.4px;

    color: var(--color-primary);
}

.count {
    margin-bottom: 8px;

    font-family: var(--font-open-sans);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.3px;

    color: #717973;
}

.pageDesc {
    margin: 0;

    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;

    color: #414844;
}

.filters {
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}